:root {
  --bgColor-shadow50: rgba(0, 0, 0, 0.5);
  --bgColor-shadow90: rgba(10, 10, 24, 0.9);
  --bgColor-gray40: hsla(0, 0%, 100%, 0.4);
  --bgColor-blue-shadow02: #dbe2ef;
  --bgColor-blue-shadow03: #97b5d9;
  --color-white: #fff;
  --color-black: #000;
  --color-gary: #888;
  --color-blue: blue;
  --color-yellow: #ffb84f;
  --color-green: #47b172;
  --color-orange: #ff764a;
  --color-sky-blue: #77c6d9;
  --color-lime: #b1dd40;
  --font-thin: 200;
  --font-Light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-SemiBold: 600;
  --font-bold: 800;
  --font-black: 900;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes leftTopGo {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-20vw, -38vh);
  }
}

@keyframes rightBottomGo {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(20vw, 38vh);
  }
}

html {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body:has(:popover-open) [role="button"] {
  pointer-events: none;
}

body:has(:popover-open) .swiper-slide.swiper-slide-active {
  pointer-events: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 110;
}

header .hamburger {
  display: none;
}

.menu-list {
  display: none;
}

h1 {
  width: 100%;
  margin: 10px 0 0 20px;
  font-family: "Noto Sans KR", serif;
  font-weight: var(--font-normal);
  letter-spacing: 2px;
  font-size: 16px;
  color: var(--color-white);
}

h2 {
  font-size: 2vw;
}

/* ===== 메인 스타일 ===== */
.main {
  width: 100%;
  height: 100dvh;
  position: relative;
}

.main .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../asset/images/bg.jpg") no-repeat center / cover;
  background-attachment: fixed;
  filter: blur(10px);
}

.main .bg-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  background-color: var(--bgColor-shadow50);
}

.main .main-text-area {
  display: flex;
  gap: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  letter-spacing: -1px;
  color: var(--color-white);
  animation: opacity 2s;
}

.main .main-text-area h2 {
  white-space: nowrap;
  font-size: 80px;
  font-weight: 300;
  transform: translate(0);
  animation: 2s forwards;
  animation-delay: 1.5s;
}

.main .main-text-area h2:nth-of-type(1) {
  animation-name: leftTopGo;
}
.main .main-text-area h2:nth-of-type(2) {
  animation-name: rightBottomGo;
}

.main .main-text-box {
  text-align: center;
  position: absolute;
  z-index: 90;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: var(--font-normal);
  letter-spacing: 2px;
  color: var(--color-white);
}

.main .text-area {
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2s;
}
.main .text-area-sub01 {
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2.5s;
}
.main .text-area-sub02 {
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 3s;
}
/* sidebar */
.sidebar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1100;
}

.sidebar ul li a {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  font-weight: normal;
  color: transparent;
}

.sidebar ul li.active a {
  color: white;
}

.sidebar ul li a::after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background: white;
}

.sidebar ul li.active a::after {
  width: 40px;
  background: white;
  transition: all 0.4s ease;
}

/* section, section-title */
.section02,
.section03 {
  /* overflow: hidden; */
  /* display: flex; */
  width: 100%;
  height: 100dvh;
  position: relative;
  padding: 6vh 4vw;
}

.section01 .section01-title,
.section-sub .section-sub-title,
.section02 .section02-title,
.section03 .section03-title {
  color: var(--color-white);
  font-size: 4vw;
}

/* Section01 */
.section01 {
  display: flex;
  flex-direction: column;
  height: 80dvh;
  padding: 6vh 4vw;
  background: rgb(35 35 35);
}
.section01 .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 55px;
  margin: auto;
  background-color: rgb(55 55 55);
  border-radius: 10px;
}
.section01 .profile .introduction {
  display: flex;
  align-items: center;
  gap: 70px;
}

.section01 .profile .photoCard img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.section01 .profile ul {
  /* display: flex; flex-wrap: wrap; gap: 10px; */
  font-size: 18px;
  font-weight: var(--font-medium);
  color: var(--color-white);
}

/* .section01 .profile .introduction-sub { display: flex; align-items: center; width: 55%; height: 100px; position: relative; padding: 15px;
 border-radius: 10px; color: var(--color-white); } */

/* .section01 .profile h2 { margin-bottom: 15px; font-weight: var(--font-bold); color: var(--color-white); } */

/* .section01 .profile ul li:nth-child(odd) { width: 30%; } 
.section01 .profile ul li:nth-child(even) { width: 60%; } */

.profile ul .introduction-flex {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
}

/* section-sub */
.section-sub {
  height: 50dvh;
  padding: 6vh 4vw;
  background: hsl(0, 0%, 18%);
}
.section-sub ul {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.section-sub li {
  width: 50%;
  height: 25dvh;
  background: rgb(35 35 35);
  border-radius: 20px;
  color: white;
}
.section-sub li a {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.section-sub li:hover {
  color: var(--color-white);
  background-color: var(--color-gary);
}

.section-sub li a img {
  width: 80px;
  height: 80px;
}
/* ===== Section 02 ===== */
.section02 {
  background: rgb(35 35 35);
}
.section02 > img,
.section02 .section-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: hsl(0, 1%, 41%);
  border-radius: 50%;
}

.section02 > img {
  width: 70px;
  height: 70px;
}

.section02 .section-card {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  height: 400px;
  font-size: 20px;
  border-radius: 20px;
  background-color: hsl(0, 1%, 41%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.section02 .section-card div img {
  height: 60px;
}

/* ===== Section 03 ===== */

/* .swiper { width: 50%; height: 100dvh; position: relative; } 

.swiper .project { display: flex; flex-direction: column; align-items: center; justify-content: space-between; width: 25vw; height: 30vw; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: var(--color-white); box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
 rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; } 
.swiper .project .project-img { width: 20vw; height: 25vw; } 

.swiper .project .project-open-btn { width: 5vw; height: 2vw; margin: 0 10px 15px 0; font-size: 16px; color: var(--color-gary); background-color: #fff; border: 1px solid var(--color-gary); border-radius: 5px; transition: all 0.4s; cursor: pointer; } 

.swiper .project .project-open-btn:hover { color: var(--color-white); background-color: var(--color-gary); } 

.swiper .project .modal { width: 30vw; height: 35vw; top: 50%; left: 50%; transform: translate(-50%, -50%); border: none; } 
.swiper .project .modal::backdrop { background-color: rgb(0, 0, 0, 0.4); } 

.modal .modal-close-btn { width: 1vw; height: 1vw; position: absolute; top: 1vw; right: 1vw; border: 1px solid; cursor: pointer; } 

.modal .modal-introduction-div { display: flex; flex-direction: column; justify-content: space-between; gap: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } */

/* section03 */
.section03 {
  background: hsl(0, 0%, 18%);
}
.section03 .swiper {
  width: 95%;
  height: 70%;
  top: 15%;
  margin: 0 auto;
}

.section03 .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  background: #fff;
  opacity: 0.1;
  transition: opacity 0.5s;
  pointer-events: none;
  cursor: pointer;
}

.swiper-wrapper .swiper-slide .box {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper .swiper-slide:hover {
  transform: scale(0.98);
  filter: brightness(85%);
}

.swiper-wrapper .swiper-slide:hover:after {
  opacity: 0.5;
}

.swiper-wrapper .swiper-slide .box .project-img {
  width: 100%;
  height: 100%;
}

/* .section03 .swiper .swiper-slide img { display: block; width: 100%; height: 90dvh; object-fit: cover; } */

.section03 .swiper .swiper-slide.swiper-slide-active {
  opacity: 1;
  pointer-events: all;
}

.section03 .swiper .slide-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: var(--color-white);
  background: var(--bgColor-gray40);
}

.section03 .swiper .swiper-button-next::after {
  position: relative;
  left: 3px;
}

.section03 .swiper .swiper-button-prev::after {
  position: relative;
  right: 3px;
}

.section03 .swiper .swiper-pagination-bullet-active {
  background: rgb(35 35 35);
}

.modal {
  width: 550px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

.modal::backdrop {
  background-color: rgb(0, 0, 0, 0.4);
}

.modal .modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid;
  cursor: pointer;
}

.modal .modal-close-btn svg {
  width: 13px;
  height: 13px;
}

.modal .modal-introduction-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .modal-introduction-div .modal-introduction-ul li {
  list-style-type: disc;
}

.modal .modal-introduction-div a {
  width: 100px;
  height: 30px;
  line-height: 30px;
  align-self: flex-end;
}

/* section04 */
.section04 {
  width: 100%;
  height: 90vh;
  position: relative;
  background: url("../asset/images/Contact_bg.jpg") no-repeat;
}

.section04 .aspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 50%;
  padding: 60px 0;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  color: var(--color-black);
}
.section04 .aspiration h3 {
  font-size: 80px;
}

.section04 .aspiration p {
  font-size: 20px;
}
.section04 .aspiration .contact {
  display: flex;
  gap: 15px;
}

.section04 .aspiration a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

.section04 .bg-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--bgColor-shadow20-blue);
}

/* section03, 04 공통 */

.modal .modal-introduction-div a,
.section04 .aspiration a {
  text-align: center;
  font-size: 16px;
  color: var(--color-gary);
  background-color: #fff;
  border: 1px solid var(--color-gary);
  border-radius: 5px;
  transition: all 0.4s;
}
.modal .modal-introduction-div a:hover,
.section04 .aspiration a:hover {
  color: var(--color-white);
  background-color: var(--color-gary);
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 10vh;
  background-color: var(--bgColor-shadow90);
  color: var(--color-white);
}

.footer p br {
  display: none;
}

body:has(:popover-open) {
  overflow: hidden;
}

body:has(:popover-open) .section03 .list > li .box:hover {
  transform: scale(1);
  filter: none;
}

body:has(:popover-open) .section03 .list > li .box:hover:after {
  opacity: 1;
}

body:has(:popover-open) .header a {
  pointer-events: none;
  cursor: auto;
}

/* tablet */
@media screen and (max-width: 1280px) {
  /* header */
  header {
    position: fixed;
    background: hsl(0, 1%, 41%);
  }
  header .hamburger {
    display: block;
    margin: 10px 10px 0 0;
    color: white;
  }

  header .hamburger svg {
    cursor: pointer;
  }

  body:has(:checked) .menu-list {
    height: 200px;
  }

  .menu-list {
    overflow: hidden; /* visibility: inherit; */
    display: block;
    width: 100%;
    height: 0;
    position: fixed;
    background: hsl(0, 1%, 41%);
    transition: height 1s;
    z-index: 1500;
  }

  .menu-list .menu-flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 20px;
  }

  .menu-list .menu-flex .menu-close-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: white;
  }

  .menu-list .menu-flex ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .menu-flex ul li a {
    font-size: 17px;
    font-weight: bold;
  }

  .menu-flex ul li.active a {
    color: white;
  }

  /* main */
  .main {
    width: 100%;
    height: 100dvh;
    position: relative;
    z-index: 50;
    background: url("../asset/images/bg.jpg") no-repeat center / cover;
    background-attachment: fixed;
    overflow: hidden;
  }
  .main .bg-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--bgColor-shadow50);
  }
  .main .main-text-area h2,
  .main .main-text-box {
    font-size: 6vw;
  }
  /* sidebar */
  .sidebar {
    display: none;
  }

  /* section01 */
  .section01 {
    height: 100dvh;
  }
  .section01 .profile {
    gap: 3vw;
    padding: 3vw;
    top: 10dvh;
  }
  .section01 .profile .photoCard {
    text-align: center;
  }
  .section01 .profile .introduction {
    flex-direction: column;
    gap: 1vw;
  }

  /* section-sub */
  .section-sub ul {
    flex-direction: column;
    gap: 50px;
  }

  .section-sub ul li {
    width: 100%;
    height: 12.5dvh;
    color: white;
  }

  /* section02 */

  .section02 > img {
    width: 7vw;
    height: 7vw;
  }
  .section02 .section-card {
    gap: 10px;
    width: 40vw;
    height: 40vw;
    font-size: 2vw;
  }
  .section02 .section-card div img {
    height: 7vw;
  }

  /* section03 */
  .section03 .textBox h2 {
    font-size: 50px;
  }
  .section03 .list > li {
    width: 450px;
    height: 400px;
    padding: 0 30px;
  }
  .modal {
    width: 430px;
    height: 480px;
    font-size: 14px;
  }
  .modal .modal-close-btn {
    width: 16px;
    height: 16px;
  }
  .modal .modal-close-btn svg {
    width: 13px;
    height: 13px;
  }
  .modal .modal-introduction-div a {
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
  }

  /* section04 */

  .section04 .aspiration {
    gap: 20px;
    padding: 60px 0;
    height: 40%;
  }
  .section04 .aspiration h3 {
    font-size: 60px;
  }
  .section04 .aspiration p {
    font-size: 17px;
  }
  .section04 .aspiration a {
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .text-area-sub01 {
    white-space: nowrap;
  }
  .header-sub .nav ul li {
    font-size: 3vw;
  }

  /* section01 */
  .section01 .profile {
    width: 80%;
    top: 20dvh;
  }
  .section01 .profile .photoCard {
    text-align: center;
  }
  /* .section01 .profile .photoCard img { height: 40vw; } */
  .section01 .profile .introduction {
    gap: 1vw;
    font-size: 17px;
  }

  /* section02 */
  .section02 .section02-title {
    font-size: 5vw;
  }
  .section02 > img {
    width: 10vw;
    height: 10vw;
  }
  .section02 .section-card {
    gap: 10px;
    width: 50vw;
    height: 50vw;
    font-size: 3vw;
  }
  .section02 .section-card div img {
    height: 7vw;
  }

  /* section03 */
  .section03 .textBox h2 {
    font-size: 40px;
  }
  .section03 .list > li {
    width: 400px;
    height: 350px;
    padding: 0 30px;
  }
  .modal {
    width: 350px;
    height: 400px;
    font-size: 12px;
  }
  .modal .modal-close-btn {
    width: 12px;
    height: 12px;
  }
  .modal .modal-close-btn svg {
    width: 10px;
    height: 10px;
  }
  .modal .modal-introduction-div a {
    width: 50px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
  }

  /* section04 */
  .section04 {
    height: 70vh;
  }
  .section04 .aspiration {
    gap: 15px;
    height: 40%;
  }
  .section04 .aspiration h3 {
    font-size: 50px;
  }
  .section04 .aspiration p {
    font-size: 15px;
  }
  .section04 .aspiration a {
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
  }

  /* footer */
  .footer {
    gap: 30px;
    height: 30vh;
  }
  .footer p {
    text-align: center;
    font-size: 18px;
  }
  .footer p br {
    display: block;
  }
}

@media screen and (max-width: 430px) {
  .section01 .profile {
    width: 80%;
  }
  .section01 .profile h2 {
    font-size: 12px;
  }
  .section01 .profile .photoCard img {
    height: 40vw;
  }
  .section01 .profile .introduction {
    gap: 1vw;
    font-size: 13px;
  }

  /* section02 */
  .section02 .section02-title {
    font-size: 8vw;
  }

  /* section03 */
  .section03 .textBox h2 {
    font-size: 40px;
  }
  .section03 .list > li {
    width: 350px;
    height: 300px;
    padding: 0 30px;
  }
  .modal {
    width: 250px;
    height: 300px;
    font-size: 10px;
  }
  .modal .modal-close-btn {
    width: 10px;
    height: 10px;
  }
  .modal .modal-close-btn svg {
    width: 10px;
    height: 10px;
  }
  .modal .modal-introduction-div a {
    width: 50px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
  }

  /* section04 */

  .section04 .aspiration {
    gap: 15px;
    height: 50%;
  }
  .section04 .aspiration h3 {
    font-size: 50px;
  }
  .section04 .aspiration p {
    font-size: 15px;
  }
  .section04 .aspiration a {
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
  }

  /* footer */
  .footer p {
    text-align: center;
    font-size: 17px;
  }
  .footer p br {
    display: block;
  }
}
